<%= render 'home/list_h' %>

<div style="margin-left: 150px;">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
            <% if resource.errors.any? %>
            <%= resource.errors.count %>件のエラーが発生しました
            <% resource.errors.full_messages.each do |message| %>
            <%= message %>
            <% end %>
            <% end %>

    <div class="field" style="margin-bottom:10px;">
      <%= f.label :username %><br />
      <%= f.text_field :username, autofocus: true, autocomplete: "name", class: "name" %>
    </div>

    <div class="field" style="margin-bottom:10px;">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "email" %>
    </div>

    <div class="field" style="margin-bottom:10px;">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "password" %>
    </div>

    <div class="field" style="margin-bottom:10px;">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "password_confirm" %>
    </div>

    <div class="actions" style="margin-bottom:10px;">
      <%= f.submit "Sign up", class: "btn btn-success" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>

<%= render 'home/list-f' %>