<%= render 'home/list_h' %>
<%= render 'home/list_side' %>

		<div class="col-lg-9">
			<h1>Users</h1>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>image</th>
						<th>name</th>
						<th></th>
					</tr>
				</thead>
				<% @users.each do |user| %>
					<tr>
						<td>
							<%= attachment_image_tag user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "hoka_05_question.png" %></td>
						<td><%= user.username %></td>
						<td><%= link_to "Show", user_path(user.id), class: "user_#{user.id}" %></td>
					</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>
<%= render 'home/list-f' %>