<header>
<div class="row">
	<div class="col-lg-12" style="background-color: red; height: 50px;">
		<h1 style="font-size: 20px; margin: 3px 0 0px 150px;">Bookers</h1>

		<% if user_signed_in? %>
	       		<li style="list-style: none; float: right; display: inline-block; margin-left: 30px; margin-right: 150px;">
	       			<span class="glyphicon glyphicon-log-in" aria-hidden="true">
	       				<%= link_to "logout", destroy_user_session_path, method: :delete %>
	       			</span>
				<li class="" style="list-style: none; float: right; display: inline-block; margin-left: 30px;">
	     			<span class="glyphicon glyphicon-home" aria-hidden="true">
	       		 		<%= link_to "book一覧", root_path %>
      			<li class="" style="list-style: none; float: right; display: inline-block; margin-left: 30px;">
	     			<span class="glyphicon glyphicon-home" aria-hidden="true">
	       		 		<%= link_to "user一覧", root_path %>
      			<li class="" style="list-style: none; float: right; display: inline-block; margin-left: 30px;">
	     			<span class="glyphicon glyphicon-home" aria-hidden="true">
	       		 		<%= link_to "Home", root_path %>
     		 	</li>

    	<% else %>

	       		<li style="list-style: none; float: right; display: inline-block; margin-left: 30px; margin-right: 150px;">
	       			<span class="glyphicon glyphicon-log-in" aria-hidden="true">
	       				<%= link_to "login", new_user_session_path %>
	       			</span>
	       		<li style="list-style: none; float: right; display: inline-block; margin-left: 30px;">
	       			<span class="glyphicon glyphicon-edit" aria-hidden="true">
	       				<%= link_to "sign up", new_user_registration_path %>
	       			</span>
	     		<li class="" style="list-style: none; float: right; display: inline-block; margin-left: 30px;">
	     			<span class="glyphicon glyphicon-link" aria-hidden="true">
	       		 		<%= link_to "About", about_path %>
	       		 	</span>
	     		<li class="" style="list-style: none; float: right; display: inline-block; margin-left: 30px;">
	     			<span class="glyphicon glyphicon-home" aria-hidden="true">
	       		 		<%= link_to "Home", root_path %>
	       		 	</span>
	     		</li>
	       		</li>
	       		</li>
	       		</li>
    	<% end %>
	</div>
</div>

</header>