<%= render 'home/list-h' %>


<div class="container">
	<div class="row">
		<div class="col-lg-3" style="background-color: orange;">
			<h2>User info</h2>
			<table class="table">
				<tr>
					<%= attachment_image_tag @bookf.user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "hoka_05_question.png" %>
				</tr>
				<tr>
					<td>name</td>
					<td>
						<%= @bookf.user.username %></td>
				</tr>
					<td>introduction</td>
					<td>
						<%= @bookf.user.profile_intro %>
					</td>
				</tr>
			</table>
			<%= link_to edit_user_path(current_user.id), class:'btn btn-default btn-md col-lg-12', style:"margin-bottom:10px;" do %>
			<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
			<% end %>
			<h2>New book</h2>
			<%= form_for(@book) do |f| %>

				<h5>Title</h5>
				<%= f.text_field :book_title, class:"col-lg-12", style:"margin-bottom:10px;" %>
				<h5>Opinion</h5>
				<%= f.text_area :book_opinion, class:"col-lg-12", style:"margin-bottom:10px;" %><br>
				<%= f.submit 'Create Book', class:"btn btn-danger col-lg-12" %>
			<% end %>

		</div>
		<div class="col-lg-9" style="background-color: green;">
			<p id="notice">
	 			<%=  notice %>
			</p>
			<h1>Book detail</h1>
			<table class="table">
				<thead>
				<tr>
					<th></th>
					<th>Title</th>
					<th>Opinion</th>
				</tr>
				</thead>
				<tr>
					<td><%= attachment_image_tag @bookf.user, :profile_image, :fill, 30, 30, format: 'jpeg', fallback: "hoka_05_question.png" %></td>
					<td><%= @bookf.book_title %></td>
					<td><%= @bookf.book_opinion %></td>
					<td>
						<% if @bookf.user == current_user %>
						<%= link_to "edit", edit_book_path(@bookf.id), class:"btn btn-warning" %></td>
					<td>
						<%= link_to "destroy", book_path(@bookf.id), method: :delete, class:"btn btn-danger", "data-confirm" => "削除するよ（＾ω＾）" %>
						<% end %>
						</td>
				</tr>
			</table>
		</div>
	</div>
</div>




<%= render 'home/list-f' %>